{% extends 'portifolio/base.html' %}
{% block content%}

{%load static %}
<hr class="m-0" />
<section class="resume-section" id="Sobre">
	<div class="resume-section-content">
		<div class="row">
			<div class="col-md-12">
				<h3 class="text-center text-primary"> <!-- Titulo -->
					Bem vindo!
				</h3>
				<p class="text-center lead text-primary"> <!-- Paragrafo -->
					Gustavo Felipe de Oliveira, Engenheiro eletrico e desenvolvedor!
				</p>
				<hr class="m-0" />
				<div class="row">
					<div class="col-md-4">
						<div class="jumbotron">
							<h2>
								Experiência
							</h2>
							<p>
								Veja aqui minha jornada profissional.
							</p>
							<p>
								<a class="btn btn-primary btn-large" href="{% url 'blog:all_blogs' %}">Experiência</a>
							</p>
						</div>
						<blockquote class="blockquote">
							<p class="mb-0">
								A incerteza é algo presente, desejável e necessário para a evolução.
							</p>
							<footer class="blockquote-footer">
								Nassim Taleb
							</footer>
						</blockquote>
					</div>
					<div class="col-md-4">
						<img alt="Sou eu!" <img src="{% static 'portifolio/Image1.jpeg' %}" class="img-fluid">>
					</div>
					<div class="col-md-4">
						<p>
							Página pessoal criada para aprendizado, porém está começou a criar um apelo para virar um projeto onde posso falar sobre as coisas que gosto. Gostaria de mostrar minha jornada de aprendizado e quem sabe um dia este projeto vire referência em assuntos de tecnologia. Nesta página falarei sobre assuntos que gosto, estudo, gostaria de aprender. Os temas serão desde finanças, mercado de ações, programação, machine learning, engenharia e tecnologia.
						</p>
						<h2>
							Formação
						</h2>
						<p>
						<ul>
						<h3>UTFPR</h3>
						<footer>Engenharia Eletrica</footer>
						<br>
					</ul>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<hr class="m-0" />
<section class="resume-section" id="interesses">
	<div class="resume-section-content">
		<h2 class="mb-5">Interesses</h2>
		<p>Além de programar e jogar, sou fascinado por robôs e inteligência artificial.
			Este interesse em "<b>Megazords</b>" e inteligência artificial me levou a escolher <b>Engenharia</b> como profissão.</p>
		<p class="mb-0">Além destas, descobri recentemente minha paixão pelo <strong>Mercado de Ações</strong>. Por isso teremos alguns artigos sobre o mercado de ações por aqui.</p>
	</div>
</section>

<section class="resume-section" id="skills">
	<div class="resume-section-content">
		<h2 class="mt-5 text-justify">Skills</h2>
		<hr class="m-0" />
		<div class="subheading mb-3 text-justify">Ferramentas e linguagens</div>
			<ul class="list-inline dev-icons " class="aalign-middle">
				{% for project in projects %}
					<li class="list-inline-item"><img src="{{ project.image.url }}" class="img-fluid mb-2" class="rounded"	></li
				{% endfor %}
			</ul>
		  </div>
	</div>
</section>



{% endblock %}