.navbar-nav .nav-link {
    color: rgba(255,0,0,0.5) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(255,0,0,.5) !important;
}

body {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url('/static/portifolio/background.jpeg' no-repeat right bottom;
    color: white;
}


#blogtitle {
    font-size: 6rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
}

.dev-icons {
  font-size: 3rem;